.SiegeOppBans {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-image: url("/images/Untitled-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .broder-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 24%;
    height: 90%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.2) 10%,
          rgba(255, 255, 255, 0.2) 90%,
          rgba(255, 255, 255, 0.1) 100%);
      background-position: 0 0;
      background-repeat: no-repeat;
      clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    }

    &::after {
      content: "";
      position: absolute;
      left: -18%;
      top: -18%;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.2) 10%,
          rgba(255, 255, 255, 0.2) 90%,
          rgba(255, 255, 255, 0.1) 100%);
      background-position: 0 0;
      background-repeat: no-repeat;
      clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    }

    animation: fade-in-L ease-out 2s;

    @keyframes fade-in-L {
      0% {
        transform: scale(1.4, 2) translateY(-40%);
        opacity: 1;
      }

      100% {
        transform: scale(1) translateY(0);
      }
    }
  }

  .broder-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24%;
    height: 90%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.2) 10%,
          rgba(255, 255, 255, 0.2) 90%,
          rgba(255, 255, 255, 0.1) 100%);
      background-position: 0 0;
      background-repeat: no-repeat;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -18%;
      right: -18%;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.2) 10%,
          rgba(255, 255, 255, 0.2) 90%,
          rgba(255, 255, 255, 0.1) 100%);
      background-position: 0 0;
      background-repeat: no-repeat;
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
    }

    animation: fade-in-R ease-out 2s;

    @keyframes fade-in-R {
      0% {
        transform: scale(1.4, 2) translateY(40%);
        opacity: 0;
      }

      100% {
        transform: scale(1) translateY(0);
        opacity: 1;
      }
    }
  }

  .fog {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    animation: fog-fade-in linear 60s;
    transform: scale(1) translateX(-0%);

    @keyframes fog-fade-in {
      0% {
        transform: scale(1) translateX(-20%);
      }

      100% {
        transform: scale(1) translateX(-0%);
      }
    }

    &::before {
      content: "";
      height: 200%;
      width: 120%;
      min-width: 120%;
      opacity: 0.2;
      background-image: url("/images/fog-design-clean-alpha-free-png.webp");
      background-position: center 100%;
      background-size: 100% 100%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -12.5vw;
      left: 50%;
      height: 25vw;
      width: 25vw;
      background: rgb(255, 255, 255);
      background: radial-gradient(circle,
          rgba(255, 255, 255, 1) 20%,
          rgba(255, 255, 255, 0.5) 40%,
          rgba(255, 255, 255, 0) 60%,
          rgba(255, 255, 255, 0) 100%);
      animation: fog-flash ease-in-out 0.3s;
      opacity: 0;

      @keyframes fog-flash {
        0% {
          transform: scale(0);
          opacity: 0;
        }

        50% {
          transform: scale(1.5);
          opacity: 1;
        }

        100% {
          transform: scale(0);
          opacity: 0;
        }
      }
    }
  }

  .introtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .theh2,
    .theh1 {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      h2 {
        font-family: DINRundschriftBreit;
        letter-spacing: 0;
        word-spacing: 0.2vw;
        line-height: 2.6vw;
        font-size: 2.6vw;
        animation: fade-in-TitleText ease-in-out 1.2s;
      }

      h1 {
        font-family: DINRundschriftBreit;
        letter-spacing: 0;
        word-spacing: 0.2vw;
        line-height: 5vw;
        font-size: 5vw;
        animation: fade-in-TitleText ease-in-out 1.2s;
      }

      @keyframes fade-in-TitleText {
        0% {
          transform: scale(1.4) translateY(-3.5vw);
        }

        100% {
          transform: scale(1) translateY(0);
        }
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .banDisplay {
      z-index: 6;
      margin-top: 4.2vw;
      width: 17vw;
      height: auto;
      display: flex;
      justify-content: space-between;
      overflow: visible;
      box-sizing: border-box;

      .banbox {
        width: 100%;
        height: 100%;
        animation: banDisplay-fade-in ease-out 0.6s;
        display: flex;
        justify-content: space-between;
        align-items: start;

        .box {
          position: relative;
          width: 3.7vw;
          height: 3.7vw;
          background-color: rgb(231, 45, 51, 0.4);
          padding: 0.65vw;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;

          svg {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: 2;

            path {
              fill: #e72d33;
            }
          }

          .timer {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparent;
            opacity: 0;
          }

          .banicon-con {
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(100, 100, 100);

            .oppbanIcon {
              width: 100%;
              height: 100%;
              padding: 0.1vw;
              filter: grayscale(100%);
              animation: oppbanIcon123 ease-out 0.6s;

              @keyframes oppbanIcon123 {
                0% {
                  transform: scale(1.4);
                }
  
                100% {
                  transform: scale(1);
                }
              }
            }

            .banIcon {
              width: 45%;
              height: 45%;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translate(-50%, 50%);
              animation: banIcon ease-in-out 1s;

              @keyframes oppbanIcon {
                0% {
                  opacity: 0;
                }

                100% {
                  opacity: 1;
                }
              }
            }
          }

          &.red {
            background-color: rgb(231, 45, 51, 0.4);

            svg {
              path {
                fill: #e72d33;
              }
            }

            .timer {
              background-color: #e72d33;
            }
          }

          &.blue {
            background-color: rgba(20, 111, 181, 0.4);

            svg {
              path {
                fill: #1470b5;
              }
            }

            .timer {
              background-color: #1470b5;
            }
          }

          &.active {
            transition: height ease-in-out 0.6s;
            height: 4.7vw;

            svg path {
              transition: fill 0.6s ease-in-out;
              fill: white;
            }

            .timer {
              transition: opacity 0.3s ease-in-out;
              opacity: 1;
              height: 0px;
            }

            @keyframes banDisplay-before {
              0% {
                height: 100%;
                opacity: 1;
              }

              100% {
                height: 0%;
                opacity: 1;
              }
            }
          }

          @keyframes banDisplay-fade-in {
            0% {
              margin-top: -5vw;
            }

            100% {
              margin-top: 0;
            }
          }
        }
      }
    }

    .redteam,
    .blueteam,
    .showBan,
    .showallbans {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .showBan {
      z-index: 3;
      animation: maps ease-in 0.5s;

      &.red {
        .thcon {

          .showBanbroder-left,
          .showBanbroder-right {

            &::before,
            &::after {
              background: linear-gradient(0deg,
                  rgba(231, 45, 51, 0.1) 0%,
                  rgba(231, 45, 51, 0.2) 10%,
                  rgba(231, 45, 51, 0.2) 90%,
                  rgba(231, 45, 51, 0.1) 100%);
            }
          }

          .showBanbroder-fog {
            &::before {
              filter: grayscale(100%) brightness(50%) contrast(190%) sepia(150%) hue-rotate(-40deg) saturate(1500%);
            }
          }

          .baninfobox {
            .text {
              h2 {
                span {
                  color: #e72d33;
                }
              }
            }
          }
        }
      }

      &.blue {
        .thcon {

          .showBanbroder-left,
          .showBanbroder-right {

            &::before,
            &::after {
              background: linear-gradient(0deg,
                  rgba(20, 112, 181, 0.1) 0%,
                  rgba(20, 112, 181, 0.2) 10%,
                  rgba(20, 112, 181, 0.2) 90%,
                  rgba(20, 112, 181, 0.1) 100%);
            }
          }

          .showBanbroder-fog {
            &::before {
              filter: grayscale(100%) brightness(50%) contrast(190%) sepia(150%) hue-rotate(190deg) saturate(1200%);
            }
          }

          .baninfobox {
            .text {
              h2 {
                span {
                  color: #1470b5;
                }
              }
            }
          }
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .thcon {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: end;

        .showBanbroder-left {
          position: absolute;
          top: 0;
          left: 0;
          width: 24%;
          height: 90%;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.1) 0%,
                rgba(255, 255, 255, 0.2) 10%,
                rgba(255, 255, 255, 0.2) 90%,
                rgba(255, 255, 255, 0.1) 100%);
            background-position: 0 0;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
          }

          &::after {
            content: "";
            position: absolute;
            left: -18%;
            top: -18%;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.1) 0%,
                rgba(255, 255, 255, 0.2) 10%,
                rgba(255, 255, 255, 0.2) 90%,
                rgba(255, 255, 255, 0.1) 100%);
            background-position: 0 0;
            background-repeat: no-repeat;
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
          }
        }

        .showBanbroder-right {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 24%;
          height: 90%;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.1) 0%,
                rgba(255, 255, 255, 0.2) 10%,
                rgba(255, 255, 255, 0.2) 90%,
                rgba(255, 255, 255, 0.1) 100%);
            background-position: 0 0;
            background-repeat: no-repeat;
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -18%;
            right: -18%;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.1) 0%,
                rgba(255, 255, 255, 0.2) 10%,
                rgba(255, 255, 255, 0.2) 90%,
                rgba(255, 255, 255, 0.1) 100%);
            background-position: 0 0;
            background-repeat: no-repeat;
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
          }
        }

        .showBanbroder-fog {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: start;
          align-items: end;
          transform: scale(1) translateX(-0%);

          &::before {
            content: "";
            height: 200%;
            width: 120%;
            min-width: 120%;
            opacity: 0.2;
            background-image: url("/images/fog-design-clean-alpha-free-png.webp");
            background-position: center 100%;
            background-size: 100% 100%;
          }
        }

        .baninfobox {
          width: 100%;
          height: 85%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .operatorbanned {
            position: relative;
            width: auto;
            height: 100%;
            object-fit: cover;
          }

          .text {
            position: absolute;
            top: 20%;
            right: 15%;
            width: auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1vw;

            h2 {
              font-family: DINRundschriftBreitItalic;
              letter-spacing: 0;
              word-spacing: 0.2vw;
              line-height: 3vw;
              font-size: 3vw;
              animation: banshowh1 4s ease-in-out;
            }

            h1 {
              font-family: DINRundschriftBreit;
              letter-spacing: 0;
              word-spacing: 0.2vw;
              line-height: 4vw;
              font-size: 4vw;
              text-transform: uppercase;
              animation: banshowh1 4s ease-in-out;
            }

            svg {
              width: 5vw;
              height: 5vw;
              animation: banshowh1 4s ease-in-out;

              path {
                fill: white;
              }
            }

            @keyframes banshowh1 {
              0% {
                transform: translateY(40%) scale(1.4);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              }

              10% {
                transform: translateY(40%) scale(1.4);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              }

              25% {
                transform: translateY(0) scale(1);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              }

              80% {
                transform: translateY(0) scale(1);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              }

              100% {
                transform: translateY(-100%) scale(1.1);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              }
            }
          }
        }
      }
    }

    .redteam,
    .blueteam {
      z-index: 2;
      display: flex;
      justify-content: start;
      align-items: end;

      &.active {
        z-index: 4;
        animation: maps ease-in 0.5s;
      }

      .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .redteam-left,
      .blueteam-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 24%;
        height: 90%;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg,
              rgba(255, 255, 255, 0.1) 0%,
              rgba(255, 255, 255, 0.2) 10%,
              rgba(255, 255, 255, 0.2) 90%,
              rgba(255, 255, 255, 0.1) 100%);
          background-position: 0 0;
          background-repeat: no-repeat;
          clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
        }

        &::after {
          content: "";
          position: absolute;
          left: -18%;
          top: -18%;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg,
              rgba(255, 255, 255, 0.1) 0%,
              rgba(255, 255, 255, 0.2) 10%,
              rgba(255, 255, 255, 0.2) 90%,
              rgba(255, 255, 255, 0.1) 100%);
          background-position: 0 0;
          background-repeat: no-repeat;
          clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
        }
      }

      .blueteam-right,
      .redteam-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24%;
        height: 90%;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg,
              rgba(255, 255, 255, 0.1) 0%,
              rgba(255, 255, 255, 0.2) 10%,
              rgba(255, 255, 255, 0.2) 90%,
              rgba(255, 255, 255, 0.1) 100%);
          background-position: 0 0;
          background-repeat: no-repeat;
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -18%;
          right: -18%;
          width: 100%;
          height: 100%;
          background: linear-gradient(0deg,
              rgba(255, 255, 255, 0.1) 0%,
              rgba(255, 255, 255, 0.2) 10%,
              rgba(255, 255, 255, 0.2) 90%,
              rgba(255, 255, 255, 0.1) 100%);
          background-position: 0 0;
          background-repeat: no-repeat;
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
        }
      }

      .blueteam-right,
      .blueteam-left {

        &::before,
        &::after {
          background: linear-gradient(0deg,
              rgba(20, 112, 181, 0.1) 0%,
              rgba(20, 112, 181, 0.2) 10%,
              rgba(20, 112, 181, 0.2) 90%,
              rgba(20, 112, 181, 0.1) 100%);
        }
      }

      .redteam-right,
      .redteam-left {

        &::before,
        &::after {
          background: linear-gradient(0deg,
              rgba(231, 45, 51, 0.1) 0%,
              rgba(231, 45, 51, 0.2) 10%,
              rgba(231, 45, 51, 0.2) 90%,
              rgba(231, 45, 51, 0.1) 100%);
        }
      }

      .redteam-fog,
      .blueteam-fog {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: end;
        transform: scale(1) translateX(-0%);

        &::before {
          content: "";
          height: 200%;
          width: 120%;
          min-width: 120%;
          opacity: 0.2;
          background-image: url("/images/fog-design-clean-alpha-free-png.webp");
          background-position: center 100%;
          background-size: 100% 100%;
        }
      }

      .redteam-fog {
        &::before {
          filter: grayscale(100%) brightness(50%) contrast(190%) sepia(150%) hue-rotate(-40deg) saturate(1500%);
        }
      }

      .blueteam-fog {
        &::before {
          filter: grayscale(100%) brightness(50%) contrast(190%) sepia(150%) hue-rotate(190deg) saturate(1200%);
        }
      }

      .redteamtitle {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10;

        .redteamtitle2,
        .redteamtitleh1 {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow-y: hidden;

          h3 {
            width: 100%;
            text-align: center;
            color: #e72d33;
            font-family: DINRundschriftBreitItalic;
            letter-spacing: 0;
            word-spacing: 0.2vw;
            line-height: 2.6vw;
            font-size: 2.6vw;
          }

          h1 {
            width: 100%;
            text-align: center;
            color: white;
            font-family: DINRundschriftBreit;
            letter-spacing: 0;
            word-spacing: 0.2vw;
            line-height: 5vw;
            font-size: 5vw;
          }
        }
      }

      .redshowbans {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: end;

        .showallbans-con {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: end;
          align-items: end;

          .allopps {
            width: 100%;
            height: 83%;
            display: flex;
            justify-content: center;
            align-items: end;
            box-sizing: border-box;
            overflow: hidden;

            .opreater {
              mask-image: linear-gradient(to bottom,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 10%,
                  rgba(0, 0, 0, 1) 90%,
                  rgba(0, 0, 0, 0) 100%);
              -webkit-mask-image: linear-gradient(to bottom,
                  rgba(0, 0, 0, 0) 0%,
                  rgba(0, 0, 0, 1) 25%,
                  rgba(0, 0, 0, 1) 100%,
                  rgba(0, 0, 0, 1) 100%);
              mask-size: 100% 100%;
              -webkit-mask-size: 100% 100%;
              position: relative;
              display: flex;
              justify-content: end;
              align-items: end;
              flex-direction: column;
              width: 100%;
              min-width: 42vw;
              height: 100%;
              clip-path: polygon(54% 0, 100% 0, 46% 100%, 0% 100%);
              background-color: rgba(100, 100, 100, 0.2);

              .fade-opp {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: end;
                padding-bottom: 10vw;
                opacity: 0;
                animation: loop-fade linear 3s infinite;

                img {
                  max-height: 75vh;
                  max-width: 75vh;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center bottom;
                  filter: grayscale(100%);
                  mask-image: linear-gradient(180deg,
                      rgba(0, 0, 0, 0.6) 1%,
                      rgba(0, 0, 0, 0) 100%);
                }

                @keyframes loop-fade {
                  0% {
                    opacity: 0;
                  }

                  33% {
                    opacity: 1;
                  }

                  66% {
                    opacity: 1;
                  }

                  100% {
                    opacity: 0;
                  }
                }
              }

              .noOppyet {
                position: absolute;
                bottom: 10%;
                left: 0;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: start;
                align-items: center;
                padding-left: 10.5vw;

                svg {
                  width: 5.5vw;
                  height: 5.5vw;

                  path {
                    fill: white;
                  }
                }
              }

              .opreater-img {
                max-height: 70vh;
                max-width: 70vh;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center bottom;
                filter: grayscale(100%);
              }

              .oppbannerinfo {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 4.4vw;
                gap: 0.6vw;

                .oppbbanner {
                  width: 100%;
                  height: auto;

                  &.red {
                    background-color: rgba(231, 45, 51, 1);
                  }

                  &.blue {
                    background-color: rgba(20, 111, 181, 1);
                  }

                  width: 100%;
                  height: 3.6vw;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  padding-left: 13.5vw;

                  .banIcon {
                    width: auto;
                    height: 65%;
                    object-fit: cover;
                  }
                }

                .oppname {
                  width: 100%;
                  height: 3.6vw;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                  padding-left: 9vw;
                  gap: 0.5vw;

                  svg {
                    width: 2vw;
                    height: 2vw;

                    path {
                      fill: white;
                    }
                  }

                  .theoppname {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: DINRundschriftBreitItalic2;
                    letter-spacing: -0.1vw;
                    word-spacing: 0.4vw;
                    line-height: 2.6vw;
                    font-size: 2.6vw;
                    margin-bottom: -0.25vw;
                    color: white;
                    text-transform: uppercase;
                  }
                }
              }

              &:nth-child(1) {
                transform: translateX(79%);
              }

              &:nth-child(2) {
                transform: translateX(27%);
              }

              &:nth-child(3) {
                transform: translateX(-25%);
              }

              &:nth-child(4) {
                transform: translateX(-77.4%);
              }
            }
          }
        }
      }

      .thepickareia {
        width: 45%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: start;
        flex-direction: column;
        padding: 1.6vw 0;
        padding-right: 2.6vw;

        h1 {
          margin-left: 0.8vw;
          width: 100%;
          text-align: start;
          padding: 0 2vw;
          display: flex;
          font-family: DINRundschriftBreit2;
          letter-spacing: 0.05vw;
          word-spacing: 0.2vw;
          line-height: 4.2vw;
          font-size: 3.4vw;
          color: white;
          text-wrap: nowrap;

          span {
            padding-right: 0.4vw;
            color: #1470b5;
          }
        }

        .TheOpps {
          margin-top: 0.6vw;
          width: 100%;
          height: auto;
          padding: 0 2vw;
          padding-bottom: 2vw;
          display: flex;
          flex-wrap: wrap;
          gap: 1.21vw;
          justify-content: space-evenly;
          z-index: 1;

          .Aopp {
            opacity: 1;
            flex: 1 1 min(1vw, 1fr);
            width: 3.8vw;
            height: 3.8vw;
            background-color: rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 1;

            .oppbox {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: start;
              align-items: center;
              flex-direction: column;
              z-index: 1;
              cursor: pointer;
              position: relative;

              .clicked {
                position: absolute;
                right: 0;
                top: 0;
                background-color: #1470b5;
                width: 1vw;
                height: 1vw;
                font-size: 0.8vw;
                line-height: 0.8vw;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
              }

              .opimg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.3);
              }

              p {
                opacity: 0;
                font-size: 0.7vw;
                line-height: 0.7vw;
                margin: 0;
                padding: 0;
                transform: translateY(-0.25vw);
                color: black;
                font-weight: 500;
              }
            }

            &:hover {
              z-index: 10;

              .oppbox {
                transform: scale(1.55);
                background-color: #9bd1fa;
                height: auto;

                .opimg {
                  transform: scale(1);
                }

                p {
                  opacity: 1;
                }
              }
            }

            &.banned {
              &:hover {
                z-index: 1;

                .oppbox {
                  transform: scale(1);
                  background-color: transparent;
                  height: 100%;

                  p {
                    opacity: 0;
                  }
                }
              }

              .oppbox {
                z-index: 1;
                cursor: default;

                .clicked {
                  background-color: black;
                  z-index: 10;

                  .banned-icon {
                    width: 80%;
                    height: 80%;
                    object-fit: cover;
                  }
                }

                .opimg {
                  opacity: 0.4;
                  transform: scale(1.3);
                  filter: grayscale(100%);
                }
              }
            }
          }
        }

        .nobanbox {
          margin-top: 6vh;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1.6vw;

          .noban {
            width: 18.5vw;
            height: 3.4vw;
            background-color: #8ca6bb;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 2.8vw;

            &:hover {
              background-color: #9bd1fa;
            }

            .nobantext {
              font-family: DINRundschriftBreit;
              letter-spacing: 0;
              word-spacing: 0.2vw;
              line-height: 2.2vw;
              font-size: 2vw;
              text-wrap: nowrap;
              padding: 0 1.2vw;
              margin-bottom: -0.3vw;
              color: rgb(34, 36, 59);
            }

            .nobanpick {
              width: 3.4vw;
              height: 100%;
              background-color: #1470b5;
              padding: 0.5vw;

              .nobanpick-icon {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }

          .baninfo {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.8vw;
            width: auto;

            svg {
              width: 2vw;
              height: 2vw;

              path {
                fill: rgba(255, 255, 255, 0.5);
              }
            }

            p {
              color: rgba(255, 255, 255, 0.5);
              font-size: 1.1vw;
              line-height: 1.1vw;
              font-weight: 600;
              text-wrap: nowrap;
            }
          }
        }
      }

      .oppinfo {
        width: 55%;
        height: 100%;
        z-index: 1;
        position: relative;

        .opp-BioImg {
          position: absolute;
          bottom: 11vw;
          right: 0;
          width: 40vw;
          height: 40vw;
          transform: translate(22%, 0);
          mask-image: linear-gradient(180deg,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0.5) 80%,
              rgba(0, 0, 0, 0) 100%);
        }

        .oppinfobox {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: end;
          align-items: end;
          flex-direction: column;
          overflow: hidden;
          padding: 2vw;
          padding-bottom: 3.4vw;

          .oppinfobox-top {
            width: 100%;
            height: auto;
            display: flex;
            padding-bottom: 2vw;

            .opp-img {
              transform: scale(1.4);
              width: 6.2vw;
              height: 6.2vw;
              object-fit: cover;
            }

            .oppinfobox-topinfobox {
              padding: 0 1.5vw;
              height: 100%;
              width: auto;
              flex: 1;
              display: flex;
              justify-content: start;
              align-items: start;
              flex-direction: column;

              .opp-name {
                font-family: DINRundschriftBreitItalic;
                font-size: 3.5vw;
                line-height: 2.6vw;
                margin: 0;
                padding: 0;
                letter-spacing: -0.08vw;
                text-transform: uppercase;
                color: white;
              }

              .opp-squad {
                font-size: 1.1vw;
                line-height: 1.2vw;
                font-weight: 500;
                margin: 0;
                padding: 0;
                letter-spacing: -0.08vw;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.5);
              }
            }
          }

          .oppinfobox-topmid {
            width: 100%;
            min-height: 3.8vw;
            display: flex;
            justify-content: start;
            align-items: start;

            .oppinfobox-specialty-one {
              width: 30%;
              height: 100%;
              display: flex;
              justify-content: start;
              align-items: start;
              flex-direction: column;
              gap: 0.4vw;

              h3 {
                margin: 0;
                padding: 0;
                font-size: 1vw;
                line-height: 1vw;
                font-weight: 500;
              }

              ul {
                width: 100%;
                height: auto;
                flex: 1;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;

                li {
                  padding: 0;
                  margin: 0;
                  font-size: 1.1vw;
                  line-height: 0.9vw;
                  font-weight: 500;
                }
              }
            }

            .oppinfobox-specialty-two {
              width: 40%;
              height: 100%;
              display: flex;

              .cullum {
                width: calc(100% / 3);
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;

                .specialty-title {
                  width: 100%;
                  margin: 0;
                  padding: 0;
                  font-size: 1vw;
                  line-height: 1vw;
                  font-weight: 500;
                }

                .opp-specialty {
                  width: 100%;
                  height: auto;
                  display: flex;
                  justify-content: center;
                  align-items: start;
                  padding: 0.6vw 0;
                  gap: 0.6vw;

                  .dot {
                    width: 1vw;
                    height: 1vw;
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.5);

                    &.true {
                      background-color: white;
                    }
                  }
                }
              }
            }
          }

          .oppinfobox-mid {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 1vw;

            .opp-extra-icons {
              display: flex;
              justify-content: start;
              align-items: center;
              width: 100%;
              height: auto;
              gap: 0.6vw;

              h4 {
                font-size: 2vw;
                line-height: 2vw;
                margin-bottom: -0.2vw;
                letter-spacing: -0.033vw;
                font-family: DINRundschriftBreitItalic2;
              }

              img {
                width: auto;
                height: 3vw;
                object-fit: cover;
                filter: brightness(0%) contrast(100%) invert(100%);
              }
            }

            .opp-extra-text {
              text-align: start;
              height: 2.8vw;
              font-size: 0.8vw;
              line-height: 0.8vw;
              letter-spacing: 0;
              font-weight: 500;
            }
          }

          .oppinfobox-bottom {
            width: 100%;
            height: auto;

            .opp-GADGET-box,
            .opp-SECONDARY-box,
            .opp-PRIMARY-box {
              border-top: 0.14vw rgba(255, 255, 255, 0.178) solid;
              border-radius: 0.14vw;
              display: flex;
              justify-content: start;
              align-items: start;
              padding-bottom: 1.7vw;

              .opp-set {
                width: calc(100% / 3);
                padding-top: 0.6vw;
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                gap: 0.2vw;

                p {
                  padding: 0;
                  margin: 0;
                  text-align: start;
                  font-size: 1vw;
                  line-height: 1vw;
                  font-weight: 500;
                  color: rgba(255, 255, 255, 0.6);
                }

                h5 {
                  padding: 0;
                  margin: 0;
                  text-align: start;
                  font-size: 1vw;
                  line-height: 1vw;
                  font-weight: 500;
                  color: rgba(255, 255, 255, 1);
                  text-wrap: nowrap;
                }

                .alttest {
                  height: vw;
                  display: flex;
                  justify-content: start;
                  align-items: center;
                }

                img {
                  width: auto;
                  max-width: 100%;
                  height: 2.6vw;
                  object-fit: contain;
                  object-position: 0 center;
                  filter: brightness(0%) contrast(100%) invert(100%);
                  margin-left: -0.2vw;
                }
              }
            }
          }
        }
      }
    }

    .showallbans {
      z-index: 5;
      background-color: rgb(0, 0, 0);
      animation: maps ease-in 0.5s;
      display: flex;
      justify-content: end;
      align-items: end;

      .showallbans-con {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: end;

        .allopps {
          width: 100%;
          height: 83%;
          display: flex;
          justify-content: center;
          align-items: end;
          box-sizing: border-box;
          overflow: hidden;

          .opreater {
            mask-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 10%,
                rgba(0, 0, 0, 1) 90%,
                rgba(0, 0, 0, 0) 100%);
            -webkit-mask-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 25%,
                rgba(0, 0, 0, 1) 100%,
                rgba(0, 0, 0, 1) 100%);
            mask-size: 100% 100%;
            -webkit-mask-size: 100% 100%;
            position: relative;
            display: flex;
            justify-content: end;
            align-items: end;
            flex-direction: column;
            width: 100%;
            min-width: 42vw;
            height: 100%;
            clip-path: polygon(54% 0, 100% 0, 46% 100%, 0% 100%);
            background-color: rgba(100, 100, 100, 0.2);

            .opreater-img {
              max-height: 70vh;
              max-width: 70vh;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center bottom;
              filter: grayscale(100%);
            }

            .oppbannerinfo {
              width: 100%;
              height: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin-bottom: 4.4vw;
              gap: 0.6vw;

              .oppbbanner {
                width: 100%;
                height: auto;

                &.red {
                  background-color: rgba(231, 45, 51, 1);
                }

                &.blue {
                  background-color: rgba(20, 111, 181, 1);
                }

                width: 100%;
                height: 3.6vw;
                display: flex;
                justify-content: start;
                align-items: center;
                padding-left: 13.5vw;

                .banIcon {
                  width: auto;
                  height: 65%;
                  object-fit: cover;
                }
              }

              .oppname {
                width: 100%;
                height: 3.6vw;
                display: flex;
                justify-content: start;
                align-items: center;
                padding-left: 9vw;
                gap: 0.5vw;

                svg {
                  width: 2vw;
                  height: 2vw;

                  path {
                    fill: white;
                  }
                }

                .theoppname {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: DINRundschriftBreitItalic2;
                  letter-spacing: -0.1vw;
                  word-spacing: 0.4vw;
                  line-height: 2.6vw;
                  font-size: 2.6vw;
                  margin-bottom: -0.25vw;
                  color: white;
                  text-transform: uppercase;
                }
              }
            }

            &:nth-child(1) {
              transform: translateX(79%);
            }

            &:nth-child(2) {
              transform: translateX(27%);
            }

            &:nth-child(3) {
              transform: translateX(-25%);
            }

            &:nth-child(4) {
              transform: translateX(-77.4%);
            }
          }
        }
      }
    }
  }

  .endbanphase {
    z-index: 8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/Untitled-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: maps ease-in 1s;
    overflow: hidden;
  }

  @keyframes maps {
    0% {
      clip-path: polygon(55% 0, 55% 0, 45% 100%, 45% 100%);
    }

    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}